{% macro navbar() -%}
    <!-- list group -->
    <ul class="list-group">
        <a href="{{ url_for('admin.index') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.index' %}active{% endif %}">Dashboard</a>
        <a href="{{ url_for('admin.users') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.users' %}active{% endif %}">Users</a>
        <a href="{{ url_for('admin.applications') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.applications' %}active{% endif %}">Pending Applications</a>
        <a href="{{ url_for('admin.accepted_applications') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.accepted_applications' %}active{% endif %}">Accepted Applications</a>
        <a href="{{ url_for('admin.rejected_applications') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.rejected_applications' %}active{% endif %}">Rejected Applications</a>
        <li class="list-group-item"></li>
        <a href="{{ url_for('admin.tickets') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.tickets' %}active{% endif %}">
            Tickets</a>
        <a href="{{ url_for('admin.answered_tickets') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.answered_tickets' %}active{% endif %}">
            Answered Tickets</a>
        <a href="{{ url_for('admin.closed_tickets') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.closed_tickets' %}active{% endif %}">
            Closed Tickets</a>
        <li class="list-group-item"></li>
        <a href="{{ url_for('admin.departments') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.departments' %}active{% endif %}">Manage
            Departments</a>
        <a href="{{ url_for('admin.settings') }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'admin.settings' %}active{% endif %}">Settings</a>
    </ul>
{%- endmacro %}