{% extends "admin/admin_base.html" %}
{% block header %}<h5>Statistics</h5>{% endblock %}
{% block admin_content %}
    <h5 class="text-center">Faction Stats</h5>
    {% for faction_row in factions|batch(3, "empty") %}
        <div class="row">
            {% for faction in faction_row %}
                <div class="col">
                    {% if faction == "empty" %}
                        <div class="card bg-secondary">
                            <div class="card-header text-center">
                                <h5>No faction</h5>
                            </div>
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col">
                                        <h6>Total</h6>
                                        <p>0</p>
                                    </div>
                                    <div class="col">
                                        <h6>Online</h6>
                                        <p>0</p>
                                    </div>
                                    <div class="col">
                                        <h6>Offline</h6>
                                        <p>0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card bg-secondary">
                            <div class="card-header text-center">
                                <h5>{{ faction.name }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col">
                                        <h6>Total</h6>
                                        <p>{{ faction.total() }}</p>
                                    </div>
                                    <div class="col">
                                        <h6>Online</h6>
                                        <p>{{ faction.online() }}</p>
                                    </div>
                                    <div class="col">
                                        <h6>Offline</h6>
                                        <p>{{ faction.offline() }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <hr>
    <h5 class="text-center">Application Statuses</h5>
    <div class="row">
        <div class="col">
            <div class="card bg-secondary">
                <div class="card-header text-center">
                    <h5>Pending</h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ pending_count }}</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-success">
                <div class="card-header text-center">
                    <h5>Accepted</h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ accepted_count }}</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-danger">
                <div class="card-header text-center">
                    <h5>Rejected</h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ rejected_count }}</h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h5 class="text-center">Users</h5>
    <div class="row">
        <div class="col">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h5 class="text-center">Brand New <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Hasn't authenticated both Minecraft and Discord yet"></i></h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ new_users_count }}</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h5 class="text-center">Fully Authed <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Has authenticated both Minecraft and Discord"></i></h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ fully_authed_count }}</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h5 class="text-center">Whitelisted <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="Is whitelisted on SwarmSMP"></i></h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ whitelisted_count }}</h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h5 class="text-center">Server Status</h5>
    <div class="row">
        {% for server in servers %}
            {% set online = status_json[servers[server]['uuid']]['online'] %}
            {% set server_dict = servers[server] %}
            {% set player_count = len(status_json[server_dict['uuid']]['player_list']) %}
            <div class="col">
                <div id='{{ server_dict['uuid'] }}' class="card {% if online %}bg-success{% else %}bg-danger{% endif %}">
                    <div class="card-header">
                        <h5 class="text-center">{{ server_dict['name'] }}</h5>
                    </div>
                    <div class="card-body text-center">
                        <h4 id="{{ server_dict['uuid'] }}-status">{% if online %}Online{% else %}Offline{% endif %}</h4>
                        <h5 id="{{ server_dict['uuid'] }}-count">Player Count: {{ player_count }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block userscripts %}
    <script>
// Connect to the current url as a socketio
// Check if a socket variable is already set
if (typeof socket === 'undefined') {
    // If not, set it
    socket = io();
}
socket.on('after connect', function (data) {
    console.log('after connect', data);
    // Send an event to the "server listen" channel
    socket.emit('server listen', {}, (response) => {
        console.log("Listening to server status updates");
    });
})

socket.on('server status', function(data) {
    console.log('server status', data);
    let status_json = data.data;
    // Check if status_json is just "Connected" and if so, don't do anything
    if (status_json === 'Connected') {
        return;
    }
    // The status is a dictionary of servers, with the server uuid as the key
    // and another dictionary as the value.

    // Loop through each server
    for (let [server, value] of Object.entries(status_json)) {
        // Get the card for the server
        let card = $('#' + server);
        let online = value['online'];
        let player_list = value['player_list'];
        let player_count = player_list.length;
        // If the server is online, change the card to green
        if (online) {
            card.removeClass('bg-danger');
            card.addClass('bg-success');
            card.find('#' + server + '-status').html('Online');
        } else {
            card.removeClass('bg-success');
            card.addClass('bg-danger');
            card.find('#' + server + '-status').html('Offline');
        }
        // Update the player count
        card.find('#' + server + '-count').html('Player Count: ' + player_count);
    }
});
    </script>
{% endblock %}