{% extends "admin/admin_base.html" %}
{% import 'components/theme_dropdown.html' as td %}
{% block header %}
    <div class="row g-0">
        <div class="col-6">
            <h5>Manage Factions</h5>
        </div>
        <div class="col-6">
            <button class="float-end btn btn-success btn-sm" id="add-faction" data-bs-toggle="modal"
                    data-bs-target="#addFaction">Add Faction
            </button>
        </div>
    </div>
    <!-- Faction add modal -->
    <div class="modal fade" id="addFaction" tabindex="-1" aria-labelledby="addFactionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFactionLabel">Add a faction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addFactionForm" action="{{ url_for('admin.new_faction') }}" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <label for="factionName">Faction Name</label>
                                <input type="text" class="form-control" id="factionName" name="factionName" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="addFactionForm" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block admin_content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Character Count</th>
            <th style="width: 25%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for faction in factions %}
            <tr>
                <td>{{ faction.id }}</td>
                <td>{{ faction.name }}</td>
                <td>{{ faction.total() }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_cards %}
    <div class="card mt-2">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-6">
                    <h5>Manage Classes</h5>
                </div>
                <div class="col-6">
                    <button class="float-end btn btn-success btn-sm" id="add-class" data-bs-toggle="modal"
                            data-bs-target="#addClass">Add Class
                    </button>
                </div>
            </div>
            <!-- Faction add modal -->
            <div class="modal fade" id="addClass" tabindex="-1" aria-labelledby="addClassLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addClassLabel">Add a class</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addClassForm" action="{{ url_for('admin.new_class') }}" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="className">Class Name</label>
                                        <input type="text" class="form-control" id="className" name="className"
                                               required>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="addClassForm" class="btn btn-success">Add</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Character Count</th>
                    <th style="width: 25%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for class in classes %}
                    <tr>
                        <td>{{ class.id }}</td>
                        <td>{{ class.name }}</td>
                        <td>{{ class.total() }}</td>
                        <td>
                            <button id="toggle-class-{{ class.id }}" onclick="toggleClassVisibility({{ class.id }})"
                                    class="btn btn-sm btn-{% if class.hidden %}success{% else %}danger{% endif %}">
                                {% if class.hidden %}Show Class{% else %}Hide Class{% endif %}</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-6">
                    <h5>Manage Races</h5>
                </div>
                <div class="col-6">
                    <button class="float-end btn btn-success btn-sm" id="add-race" data-bs-toggle="modal"
                            data-bs-target="#addRace">Add Race
                    </button>
                </div>
            </div>
            <!-- Faction add modal -->
            <div class="modal fade" id="addRace" tabindex="-1" aria-labelledby="addRaceLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addRaceLabel">Add a race</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addRaceForm" action="{{ url_for('admin.new_race') }}" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="raceName">Race Name</label>
                                        <input type="text" class="form-control" id="raceName" name="raceName" required>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="addRaceForm" class="btn btn-success">Add</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Character Count</th>
                    <th style="width: 25%">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for race in races %}
                    <tr>
                        <td>{{ race.id }}</td>
                        <td>{{ race.name }}</td>
                        <td>{{ race.total() }}</td>
                        <td>
                            <button id="toggle-race-{{ race.id }}" onclick="toggleRaceVisibility({{ race.id }})"
                                    class="btn btn-sm btn-{% if race.hidden %}success{% else %}danger{% endif %}">
                                {% if race.hidden %}Show Race{% else %}Hide Race{% endif %}</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block userscripts %}
    <script>
        function toggleClassVisibility(id) {
            let button = $("#toggle-class-" + id);
            // Disable button
            button.prop("disabled", true);
            $.ajax({
                url: "{{ url_for('admin.toggle_class', class_id=-1) }}".replace("-1", id),
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        // Reload the page
                        let newValue = data.current;
                        let newText = newValue ? "Show Class" : "Hide Class";
                        let newBg = newValue ? "btn-success" : "btn-danger";
                        button.text(newText);
                        // Change color
                        button.removeClass("btn-success btn-danger");
                        button.addClass(newBg);
                        // Enable button
                        button.prop("disabled", false);
                    }
                },
                error: function (data) {
                    alert("Error: " + data.message);
                }
            });
        }

        function toggleRaceVisibility(id) {
            let button = $("#toggle-race-" + id);
            // Disable button
            button.prop("disabled", true);
            $.ajax({
                url: "{{ url_for('admin.toggle_race', race_id=-1) }}".replace("-1", id),
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        // Reload the page
                        let newValue = data.current;
                        let newText = newValue ? "Show Race" : "Hide Race";
                        let newBg = newValue ? "btn-success" : "btn-danger";
                        button.text(newText);
                        // Change color
                        button.removeClass("btn-success btn-danger");
                        button.addClass(newBg);
                        // Enable button
                        button.prop("disabled", false);
                    }
                },
                error: function (data) {
                    alert("Error: " + data.message);
                }
            });
        }
    </script>
{% endblock %}
