{% macro theme_dropdown() -%}
    <label class="form-label" for="siteTheme">Site theme</label>
    <select class="form-select" id="siteTheme" name="siteTheme">
        <option value="cerulean">Cerulean</option>
        <option value="cosmo">Cosmo</option>
        <option value="cyborg">Cyborg</option>
        <option value="darkly">Darkly</option>
        <option value="flatly">Flatly</option>
        <option value="journal">Journal</option>
        <option value="litera">Litera</option>
        <option value="lumen">Lumen</option>
        <option value="lux">Lux</option>
        <option value="materia">Materia</option>
        <option value="minty">Minty</option>
        <option value="morph">Morph</option>
        <option value="pulse">Pulse</option>
        <option value="quartz">Quartz</option>
        <option value="sandstone">Sandstone</option>
        <option value="simplex">Simplex</option>
        <option value="sketchy">Sketchy</option>
        <option value="slate">Slate</option>
        <option value="solar">Solar</option>
        <option value="spacelab">Spacelab</option>
        <option value="superhero">Superhero</option>
        <option value="united">United</option>
        <option value="vapor">Vapor</option>
        <option value="yeti">Yeti</option>
        <option value="zephyr">Zephyr</option>
    </select>
{%- endmacro %}