{% extends "base.html" %}
{% block title %}Application{% endblock %}
{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Whitelist Application</h5>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('apply') }}" method="post">
                        <div class="row g-2">
                            <div class="col-6">
                                <label class="form-label" for="characterName">Character Name</label>
                                <input class="form-control" type="text" name="characterName" id="characterName" placeholder="M'Bonk" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="characterFaction">Faction</label>
                                <select class="form-select" id="characterFaction" name="characterFaction" required>
                                    <option value="">Select Faction</option>
                                    {% for faction in factions %}
                                        <option value="{{ faction.id }}">{{ faction.name }}</option>
                                    {% endfor %} %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="characterClass">Class</label>
                                <select class="form-select" id="characterClass" name="characterClass" required>
                                    <option value="">Select Class</option>
                                    {% for class in classes %}
                                        <option value="{{ class.id }}">{{ class.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="characterRace">Race</label>
                                <select class="form-select" id="characterRace" name="characterRace" required>
                                    <option value="">Select Race</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="characterScale">Scale</label>
                                <select class="form-select" id="characterScale" name="characterScale" required>
                                    <option value="">Select Scale</option>
                                    <option value="-0.2">0.2 Blocks Shorter</option>
                                    <option value="0">Normal</option>
                                    <option value="0.2">0.2 Blocks Taller</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="characterDescription">Description</label>
                                <textarea class="form-control" name="characterDescription" id="characterDescription" rows="3" required></textarea>
                                <div id="descriptionCount" class="form-text">0/{{ max }}</div>
                            </div>
                            <div class="col-12">
                                <label for="characterBackstory">Backstory</label>
                                <textarea class="form-control" name="characterBackstory" id="characterBackstory" rows="3" required></textarea>
                                <div id="backstoryCount" class="form-text">0/{{ max }}</div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ruleAgreement" name="ruleAgreement" required>
                                    <label for="ruleAgreement">I agree to the <a href="#">rules.</a></label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block userscripts %}
    <script>
    $(document).ready(function() {
        let maximumLength = {{ max }};
        let minimumLength = {{ min }};
        $('#characterDescription').on('input', function() {
            let length = $(this).val().length;
            let descriptionCount = $('#descriptionCount');
            descriptionCount.text(length + '/' + maximumLength);
            // If over the limit make the text red
            if (length > maximumLength || length < minimumLength) {
                descriptionCount.addClass('text-danger');
            } else {
                descriptionCount.removeClass('text-danger');
            }
        });
        $('#characterBackstory').on('input', function() {
            let length = $(this).val().length;
            let backstoryCount = $('#backstoryCount');
            backstoryCount.text(length + '/' + maximumLength);
            // If over the limit make the text red
            if (length > maximumLength || length < minimumLength) {
                backstoryCount.addClass('text-danger');
            } else {
                backstoryCount.removeClass('text-danger');
            }
        });

        // On faction change
        $('#characterFaction').on('change', function() {
            // Get what's currently picked
            let currentPick = $(this).val();
            // Do a GET request to /api/get_faction_info/<faction_id>
            $.ajax({
                url: "/api/get_faction_info/" + currentPick,
                type: "GET",
                success: function (data) {
                    // Get the array
                    let validOptions = data['races'];
                    let raceDropdown = $('#characterRace');
                    // Add each race to the dropdown
                    raceDropdown.empty();
                    validOptions.forEach(option => {
                        raceDropdown.append($('<option>', {
                            value: option.id,
                            text: option.name
                        }));
                    })
                },
                error: function (data) {
                    console.log(data);
                }
            })
        });
    });
    </script>
{% endblock %}