{% extends "base.html" %}
{% block title %}SwarmSMP Custom Mods{% endblock %}
{% block content %}
    <div class="container">
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>SwarmSMP Custom Mod #1</h3>
                </div>
                <div class="card-body">
                    <p>This mod adds custom blocks to the SwarmSMP server!</p>
                    <p>Some of the custom blocks are:</p>
                    <ul>
                        <li>Dense Cobblestone</li>
                        <li>Dense Stone</li>
                        <li>Worn Bricks</li>
                        <li>Dead Log</li>
                        <li>Burnt Planks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>SwarmSMP Custom Mod #2</h3>
                </div>
                <div class="card-body">
                    <p>This mod adds interactions with this website to the SwarmSMP server!</p>
                    <p>Some of these interactions include:</p>
                    <ul>
                        <li>Tracking deaths</li>
                        <li>Getting backstory</li>
                        <li>Providing whitelist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Mod licenses</h3>
                </div>
                <div class="card-body text-center">
                    <b>BOTH MODS USE THE GPL V3 LICENSE THAT CAN BE FOUND <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">HERE</a></b>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}