{% extends "base.html" %}
{% block title %}Discord Authentication{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Discord Authentication</h5>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-12">
                                <p>The following button will redirect you to a Discord authorization page. This shares your <b>publicly</b> available Discord ID with us, allowing us to know who you are.</p>
                                <p>We use the <a href="https://discord.com/developers/docs/topics/oauth2#shared-resources-oauth2-scopes" target="_blank"><code>identify</code> scope</a> to get this information.
                                    This returns <a href="https://discord.com/developers/docs/resources/user#user-object-user-structure" target="_blank">the following information</a> minus your email.</p>
                                <p>This will also make you join the Discord automatically if you're not already a part of it.</p>
                            </div>
                            <div class="col-12">
                                <a href="{{ discord_redirect }}" class="btn btn-success">
                                    <i class="fab fa-discord"></i>
                                    Discord Authentication</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}